<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}"/>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{jquery-3.2.0.min.js}"></script>
</head>
<body>
<div class="">
    <div class="pull-left" style="width:20%;height:500px;background: red">
        asdasd
    </div>
    <div class="pull-right" style="width: 80%;height: 500px;background: yellow">
        asda
    </div>
</div>
</body>
</html>