<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css"/>
    <script src="../static/assets/js/handlebars.min.js"></script>
    <script src="../static/assets/js/amazeui.min.js"></script>
    <script th:src="@{../jquery-3.2.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{../assets/css/amazeui.min.css}"/>
    <script th:src="@{../assets/js/amazeui.min.js}"></script>
    <script th:src="@{../assets/js/handlebars.min.js}"></script>
    <script th:src="@{../assets/js/amazeui.widgets.helper.js}"></script>
    <script th:src="@{../assets/js/amazeui.ie8polyfill.js}"></script>
</head>
<body>
<div style="width: 100%;height: 100%">
    <div style="width:100%;height: 50px;clear: none">
        <div style="width: 20%;float: left;line-height: 50px;padding-left: 20px;">
            后台管理系统
        </div>
        <div style="width: 80%;float: right;line-height: 50px;padding-right: 20px;" class="am-text-right">
            <div class="am-dropdown" data-am-dropdown="data-am-dropdown">
                <button class="am-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle="data-am-dropdown-toggle">hucheng<span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li><a href="#">更改密码</a></li>
                    <li><a href="/user/out">注销</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear: none">
    <div class="" style="width:12%;height:auto;float: left;border-top: 1px solid #dddedd;border-right: 1px solid #dddedd">
        <nav>
        <ul class="am-list admin-sidebar-list" id="collapase-nav-1">
            <li  class="am-panel">
                <a href="/index/main?url_address=/index/rule">
                    <i class="am-icon-home am-margin-left-sm"></i> 首页
                </a>
            </li>

            <li class="am-panel">
                <a data-am-collapse="{parent: '#collapase-nav-1', target: '#user-nav'}">
                    <i class="am-icon-cog am-margin-left-sm"></i> 系统管理 <i class="am-icon-angle-right am-fr am-margin-right"></i>
                </a>
                <ul class="am-list am-collapse admin-sidebar-sub" id="user-nav">
                    <li><a href="/index/main?url_address=/system/system&amp;off=system"><i class="am-icon-cog am-margin-left-sm"></i> 系统参数 </a></li>
                    <li><a href="#/userList/0"><i class="am-icon-user-secret am-margin-left-sm"></i> 角色管理 </a></li>
                    <li><a href="#/userList/0"><i class="am-icon-user am-margin-left-sm"></i> 用户管理 </a></li>
                </ul>
            </li>
            <!--<li class="am-panel">-->
                <!--<a data-am-collapse="{parent: '#collapase-nav-1', target: '#company-nav'}">-->
                    <!--<i class="am-icon-table am-margin-left-sm"></i> 单位（部门）管理 <i class="am-icon-angle-right am-fr am-margin-right"></i>-->
                <!--</a>-->
                <!--<ul class="am-list am-collapse admin-sidebar-sub" id="company-nav">-->
                    <!--<li><a href="#/companyAdd"><span class="am-icon-table am-margin-left-sm"></span> 添加单位（部门） </a></li>-->
                    <!--<li><a href="#/companyList/0"><span class="am-icon-table am-margin-left-sm"></span> 单位（部门）列表 </a></li>-->
                <!--</ul>-->
            <!--</li>-->

            <!--<li class="am-panel">-->
                <!--<a data-am-collapse="{parent: '#collapase-nav-1', target: '#role-nav'}">-->
                    <!--<i class="am-icon-table am-margin-left-sm"></i> 角色管理 <i class="am-icon-angle-right am-fr am-margin-right"></i>-->
                <!--</a>-->
                <!--<ul class="am-list am-collapse admin-sidebar-sub" id="role-nav">-->
                    <!--<li><a href="#/roleAdd"><span class="am-icon-table am-margin-left-sm"></span> 添加角色 </a></li>-->
                    <!--<li><a href="#/roleList/0"><span class="am-icon-table am-margin-left-sm"></span> 角色列表 </a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
        </nav>
    </div>
    <div class="" style="width: 88%;height:100%;float: right;border-top: 1px solid #dddedd;border-left: 1px solid #dddedd">
        <iframe id="ad" FRAMEBORDER="0" scrolling="no" width="100%" th:src="${url_address}"></iframe>
    </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    $(function () {
        function setIframeHeight(iframe) {
            if (iframe) {
                var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                }
            }
        };
        window.onload = function () {
            setIframeHeight(document.getElementById('ad'));
        };
        //菜单折叠
        var s = [[${off}]];
        if(s=="system"){
            $("#user-nav").addClass("am-in");
        }else{
            $("#user-nav").removeClass("am-in");
        }
    })
</script>
</html>