<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css"/>
    <script src="../static/assets/js/handlebars.min.js"></script>
    <script src="../static/assets/js/amazeui.min.js"></script>
    <script th:src="@{../jquery-3.2.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{../assets/css/amazeui.min.css}"/>
    <script th:src="@{../assets/js/amazeui.min.js}"></script>
    <script th:src="@{../assets/js/handlebars.min.js}"></script>
    <script th:src="@{../assets/js/amazeui.widgets.helper.js}"></script>
    <script th:src="@{../assets/js/amazeui.ie8polyfill.js}"></script>
</head>
<body>
<div style="padding:10px;">
    <label>1、系统使用说明</label>
    <pre>（1、所有后台操作人员都必须保管好自己的账号</pre>
</div>

</body>
</html>