<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css"/>
    <script src="../static/assets/js/handlebars.min.js"></script>
    <script src="../static/assets/js/amazeui.min.js"></script>
    <script th:src="@{../jquery-3.2.0.min.js}"></script>
    <link rel="stylesheet" th:href="@{../assets/css/amazeui.min.css}"/>
    <script th:src="@{../assets/js/amazeui.min.js}"></script>
    <script th:src="@{../assets/js/handlebars.min.js}"></script>
    <script th:src="@{../assets/js/amazeui.widgets.helper.js}"></script>
    <script th:src="@{../assets/js/amazeui.ie8polyfill.js}"></script>
</head>
<body style="padding: 10px;">
<label>系统参数页面</label>
<div style="padding-bottom:20px;padding-top:20px;">
    <form class="am-form-inline" role="form">
        <div class="am-form-group">
            <input type="text" class="am-form-field" placeholder="名称"/>
        </div>
        <button type="submit" class="am-btn">搜索</button>
    </form>
</div>
<div style="height: auto">
    <table  class="am-table am-table-striped am-table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>名称</th>
            <th>代码</th>
            <th>值</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr th:each="system:${system_list}">
            <td th:text="${system.id}"></td>
            <td th:text="${system.name}"></td>
            <td th:text="${system.nid}"></td>
            <td th:text="${system.value}"></td>
            <td><button class="am-btn">编辑</button></td>
        </tr>
    </table>
</div>
</body>
<script th:inline="javascript">
    $(function () {
    })
</script>
</html>